html, body {
    font-family: Courier New, Monospace;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

table, tr, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

table {
    border-collapse: collapse;
}

.hidden {
    display: none!important;
    visibility: hidden;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.dialog > div {
    padding: 50px;
}

#splash > div {
    text-align: center;
    animation: 5s splash_ani linear infinite;
}

@keyframes splash_ani {
    0%, 100% {
        color: white;
    }

    50% {
        color: #709B9E;
    }
}

#main {
    display: flex;
    min-height: 100vh;
}

#sidebar {
    background-color: black;
    color: white;
    padding: 5px;
    margin-right: 10px;
}

#sidebar > h1 {
    white-space: nowrap;
}

#sidebar .divider {
    background-color: #909090;
    height: 2px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li {
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#sidebar li.active {
    background-color: #308964;
}

#sidebar li:hover {
    background-color: #909090;
    cursor: pointer;
}

#sidebar .info {
    text-align: center;
}

#content {
    width: 100%;
    margin-right: 20px;
}

#login form {
    min-width: 300px;
}

#login label {
    display: block;
}

#login input {
    display: block;
    margin-bottom: 20px;
}

/* */

.page {
    padding: 5px;
}

/* Home */

#home table {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

#home .content > div {
    display: inline-block;
    border: 1px solid black;
    min-width: 400px;
    cursor: pointer;
    margin-right:20px;
    margin-bottom:20px;
}

#home .content > div > h2 {
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px;
    transition: background-color 1s ease;
}

#home .content > div:hover > h2 {
    background-color: #308964;
}

#home .content > div > div {
    text-align: right;
    padding-right: 10px;
    background-color: white;
}

/* Selectable Table */

.selectable_table {
    width: 100%;
    background-color: white;
}
.selectable_table th {
    background-color: black;
    color: white;
}

.selectable_table > tbody > tr {
    cursor: pointer;
    transition: all 1s ease;
}

.selectable_table > tbody > tr:hover {
    background-color: #308964;
}

/* Commands */

.commands {
    text-align: right;
    margin-bottom: 20px;
}

/* two_column */

.two_column th, .two_column td{
    width: 50%;
}

.four_column th, .four_column td{
    width: 25%;
}


/* Info Table */

table.info_table {
    width: 100%;
}

.info_table tr {
    background-color: white;
}

.info_table th {
    text-align: left;
}



table.info_table, .info_table th, .info_table tr, .info_table td {
    border: 1px solid #c0c0c0;
}

/* Property Table */

table.property_table {
    width: 100%;
}

.property_table > thead > tr {
    background-color: black;
    color: white;
}

.property_table > tbody > tr {
    cursor: pointer;
    background-color: white;
    transition: all 1s ease;
}

.property_table > tbody > tr:hover {
    background-color: #e0e0e0;
}


table.property_table, .property_table th, .property_table tr, .property_table td {
    border: 1px solid black;
}
