html, body {
    font-family: Courier New, Monospace;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

table, tr, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

table {
    border-collapse: collapse;
}

.hidden {
    display: none!important;
    visibility: hidden;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.dialog > div {
    padding: 50px;
}

#splash > div {
    text-align: center;
    animation: 5s splash_ani linear infinite;
}

@keyframes splash_ani {
    0%, 100% {
        color: white;
    }

    50% {
        color: #709B9E;
    }
}

#main {
    display: flex;
    min-height: 100vh;
}

#sidebar {
    background-color: black;
    color: white;
    padding: 5px;
    margin-right: 10px;
}

#sidebar > h1 {
    white-space: nowrap;
}

#sidebar .divider {
    background-color: #909090;
    height: 2px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li {
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#sidebar li.active {
    background-color: #308964;
}

#sidebar li:hover {
    background-color: #909090;
    cursor: pointer;
}

#sidebar .info {
    text-align: center;
}

/*
#content {
    flex: 1 0 auto;
}
*/

#login form {
    min-width: 300px;
}

#login label {
    display: block;
}

#login input {
    display: block;
    margin-bottom: 20px;
}

/* */

.page {
    padding: 5px;
}

/* Home */

#home table {
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

#home tr {
    background-color: white;
}

#home td {
    width: 50%;
}
#home table, #home tr, #home td {
    border: 0 none;
}


#home .content > div {
    display: inline-block;
    border: 1px solid black;
    min-width: 400px;
    cursor: pointer;
    margin-right:20px;
    margin-bottom:20px;
}

#home .content > div > h2 {
    background-color: black;
    color: white;
    margin: 0;
    padding: 10px;
    transition: background-color 1s ease;
}

#home .content > div:hover > h2 {
    background-color: #308964;
}

#home .content > div > div {
    text-align: right;
    padding-right: 10px;
}

/* Container List */

#containers th {
    background-color: black;
    color: white;
}

#containers_list tr {
    cursor: pointer;
    transition: background-color 1s ease;
}

#containers_list tr:hover {
    background-color: #308964;
}
